{% load static %}
<div class="card-footer">
  <a href="#"> <small class="text-muted">About .</small> </a>
  <a href="#"> <small class="text-muted"> Carrers .</small> </a>
  <a href="#"> <small class="text-muted"> Terms .</small> </a>
  <a href="#"> <small class="text-muted"> Privacy .</small> </a>
  <a href="#"> <small class="text-muted"> Acceptable .</small> </a>
  <a href="#"> <small class="text-muted"> Use .</small> </a>
  <a href="#"> <small class="text-muted"> Buisnesses .</small> </a>
  <a href="#"> <small class="text-muted"> Your Ad Choices .</small> </a>
</div>
