{% extends 'main/base.html' %}
{% load static %}
{% block meta %}
    <title>Jigao | ja kichu jante chao</title>
{% endblock %}

{% block body %}

    {% include 'main/partials/navbar.html' %}
    <div class="jumbotron jc">
        <div class="container container-lg container-md container-sm">
            <div class="row">
                <div class="col-3">
                    <!--side navbar-->

                    <a type="button" class="btn btn-outline-secondary  text-left   d-block my-2"><i
                            class="fas fa-camera"> </i>
                        Camera</a>
                    <a type="button" class="btn btn-outline-secondary  text-left  d-block my-2"> <i
                            class="fas fa-space-shuttle">
                    </i> Photographers</a>
                    <a type="button" class="btn btn-outline-secondary text-left  d-block my-2"> <i
                            class="fas fa-portrait"></i>Digital Photography</a>
                    <a type="button" class="btn btn-outline-secondary  text-left d-block my-2"> <i
                            class="fas fa-user-astronaut"></i> </i> Astrophysics</a>
                    <a type="button" class="btn btn-outline-secondary text-left  d-block my-2"> <i
                            class="fab fa-old-republic"></i> Physics of Everyday life</a>
                    <a type="button" class="btn btn-outline-secondary text-left  d-block my-2"> <i
                            class="fas fa-satellite"></i>
                        Relativity(Physics)</a>
                    <a type="button" class="btn btn-outline-secondary  text-left d-block my-2"> <i
                            class="fas fa-meteor"></i>
                        Physics</a>
                    <a type="button" class="btn btn-outline-secondary text-left  d-block my-2"> <i
                            class="fas fa-history"></i>
                        History --</a>
                    <a type="button" class="btn btn-outline-secondary text-left  d-block my-2"> <i
                            class="fas fa-rocket"></i>
                        Science</a>
                    <a type="button" class="btn btn-outline-secondary text-left  d-block my-2"> <i
                            class="fab fa-cuttlefish"></i>
                        C(Programming language)</a>
                    <a type="button" class="btn btn-outline-secondary  text-left d-block my-2"><i
                            class="fas fa-plus"></i>
                        Discover Spaces</a>
                    <hr>
                    {% include 'main/partials/footer.html' %}

                </div>

                <div class="col-6">
                    <!--newsfeed section-->

                    <div class="card mb-3">
                        <div class="card-body">
                            <a class="text-secondary" href="#"><i class="fas fa-user-circle fa-lg">
                                <small> {{ usr.username }}</small></i></a>
                            <h4 class="text-secondary">Whats is your question link?</h4>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-1">
                                    <a class="text-secondary" href="#"><i class="fas fa-user-circle fa-2x"> </i>
                                    </a>
                                </div>

                                <div class="col-11 ">
                                    <h5>{{ usr.username }}</h5>
                                    <small>{{ usr.email }}</small>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <cite title="Source Title">Should i remove all stickers from a new laptop?</cite>

                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Libero nulla odit sapiente iste soluta delectus ad
                                perspiciatis fuga! Molestias, sunt?
                            </p>
                            <img class="card-img"
                                 src="https://images.unsplash.com/photo-1504639725590-34d0984388bd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80"
                                 alt="tech"/>
                            <p>
                                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                                Maxime cum distinctio aut dolor sunt aperiam a similique
                                aspernatur omnis possimus Lorem ipsum dolor sit amet
                                consectetur adipisicing elit. Eligendi temporibus velit
                                aspernatur in. Dolores dolorem veritatis dolor minus adipisci
                                nobis voluptatibus doloribus placeat voluptates? Blanditiis
                                saepe fuga tempore inventore. Laboriosam.
                            </p>

                            <img class="card-img"
                                 src="https://prod-discovery.edx-cdn.org/media/course/image/efc25613-f0ea-4423-bfcd-4d94c317f085-5dd84e82e22b.small.png"
                                 alt="image"/>
                            <p>
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                                Saepe, numquam!
                            </p>

                            <div class="card-footer">
                                <small class="text-muted">
                                    Views . <a href="#">View Upvoters</a> .
                                    <a href="#"> View Shares</a></small>
                            </div>

                            <div class="card-footer m">

                                <div class="d-flex justify-content-between">

                                    <div class="firstpart">
                                        <a class="mx-3" href="#"><i class="fas fa-angle-up"></i> </a>
                                        <a class="mx-3" href="#"> <i class="fas fa-share"></i></a>
                                        <a class="mx-3" href="#"><i class="far fa-comment"></i> </a>

                                    </div>
                                    <div class="secondpart">

                                        <a class="mx-2" href="#"><i class="fas fa-share"></i></a>
                                        <a class="mx-2" href="#"><i class="fas fa-ellipsis-h"></i></a>

                                    </div>

                                </div>


                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-2">
                    <table class="table table-bordered table-gray">
                        <thead>
                        <tr>
                            <td><input class="d-inline" type="checkbox" aria-label="Checkbox for following text input">
                                Visit your feed
                            </td>

                        </tr>
                        <tr>
                            <td><input class="d-inline" type="checkbox" aria-label="Checkbox for following text input">
                                Follow 5 more Spaces
                            </td>

                        </tr>
                        <tr>
                            <td><input class="d-inline" type="checkbox" aria-label="Checkbox for following text input">
                                Follow 7 more topics
                            </td>

                        </tr>
                        <tr>
                            <td><input class="d-inline" type="checkbox" aria-label="Checkbox for following text input">
                                Upvote 3 more good news
                            </td>

                        </tr>
                        <tr>
                            <td><input class="d-inline" type="checkbox" aria-label="Checkbox for following text input">
                                Ask a question
                            </td>

                        </tr>
                        <tr>
                            <td><input class="d-inline" type="checkbox" aria-label="Checkbox for following text input">
                                Answer a question
                            </td>

                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}